<html>
<head>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

</head>
<body>
    <div id="container">
        <h1>DEMO(Flask + Leaflet + Vue.js)</h1>
        <div id="leaflet-map"></div>
    
        <button id="markerBtn" class="btn-push" :value="marker" v-on:click="clickMarker">マーカー表示</button>
        <button id="initializeBtn" class="btn-push" :value="initialize" v-on:click="clickInitialize">マーカー非表示</button>
        <!-- <div id="widgets-number" class="form-group">
            <label for="time">count: </label>
            <select id="select-count" class="form-control" v-on:change="mathsqrt">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div id="square-root" v-html="sqrt" :value="number"></div> -->

    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    
</body>
